html,
body {
    /*font-size: 100px;*/
}

* {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style: none;
}